<div class="widget-wrap">
    <h3 class="widget-title">关于我</h3>
    <div class="widget">
      <p>程欣雨，电子科技大学在读。入坑纯属兴趣。</p>
      <p>联系：QQ734783679</p>
      <p>最近建了个群，想找几个水平相似的伙伴一起学习交流，欢迎加入</p>
      <p>
        <a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=dea7e162e483a60d788f412d8d89323dbcd9f55b0a4bd9e2a153e38fe8baa642"><img border="0" src="http://pub.idqqimg.com/wpa/images/group.png"></a>
      </p>
    </div>
  </div>
