<div class="widget-wrap">
<h3 class="widget-title">友情链接</h3>
<div class="widget">
<ul class="entry">
<li><a href="http://www.cnblogs.com/rizzle/" title="以前的渣博客">以前的渣博客</a></li>
<li><a href="http://leuisken.github.io/" title="LeuisKen's Blog">LeuisKen's Blog</a></li>
</ul>
</div>
</div>
